*{
    margin: 0;
    padding: 0;
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
  }
.header{
    background-color: rgb(60, 53, 53);
    text-align: center;
    height: 100px;
}
.header h1{ 
     padding-top: 25px;  /*to bring sentence on middle vertically */
    font-size: 50px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    height: 30px;
}
.nav a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
}
.warning{
    border-style: solid;
    border-color: black;
    
    height: 30px;
    background-color: rgb(77, 157, 77);
    color: yellow;
    font-size: 25px;
}
.main{
    border-style: solid;
    border-color: grey;
    border-width: 10px;
    padding: 20px;
    
}
.schemes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    /* border-style: solid;
    border-color: grey;
    border-width: 10px;
    padding: 20px; */
   
    
}
.scheme{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    width: 400px;
}
.img_name{
    display: flex;
    height: 100px;
    margin-bottom: 15px;
}
.img{
    
    height: 30px;
    margin: 5px;
    
}
.img img{
    border-radius: 5px;
    height: 90px;
}
.scheme_name{
    width: 250px;
    font-size: 30px;
    padding: 15px;
}

.detail{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 10px;
}
.buttons button{
    height: 30px;
    border-radius: 10px;
    width: 100px;
}
.buttons button a{
    text-decoration: none;
    color: black;
}
.invest_btn{
    background-color: rgb(30, 149, 30);
}

.more_btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.more_btn button{
    background-color: white;
    color: aliceblue;
    height: 25px;
    width: 130px;
    border-radius: 15px;
}

.more_btn button a{
    text-decoration: none;
    color: black;
}

.ad_points{
    display: flex;
    justify-content:flex-start;
    /* margin-top: 10px; */
    background-color:orange; 
    border-style: solid;
    border-color:gray;
    border-width: 10px;
    border-top: 0px;
    height: 400px;
}
.ad{
    margin: 25px;
}
.ad video{
    height: 350px;
}

.points{
    padding: 15px;
    width: 100%;
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: flex-start;
    height: 300px;
    background-color: rgb(49, 46, 46);
    color: aliceblue;
    font-size: 20px;
}
.contact_us{
    padding-top: 80px;
    padding-left: 80px;
    align-items: center;
}
.map{
    margin-left: 200px;
    padding: 10px;
}
.map iframe{
    height: 280px
}